.signup-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* border: 1px solid blue; */
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* border: 1px solid red; */
}

@media (max-width: 768px) {
  .signup-container {
    width: 100%;
  }
  .signup-form {
    width: 80%;
  }
}
